@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: local("Outfit"),
    url("./fonts/Outfit.ttf");
}

body {
  /* margin: 0; */
  font-family: 'Outfit', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 1440px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 1050px) {
  #content-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
